.heroSection {
  background-color: rgb(238, 64, 46);
  overflow: hidden;

  position: relative;
  display: flex;
  justify-content: center;

  .wrapper {
    .wrapperLeft {
      width: 30%;
      padding-right: 1rem;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      margin-bottom: 5%;
      margin-left: 10%;

      font-family: "Exo 2", sans-serif;
      h1 {
        font-weight: 700;
      }
    }

    .wrapperRight {
      width: 60%;
      height: 100%;

      position: relative;
      right: 0;
      bottom: 0;
      max-width: 800px;

      .profile {
        transform: translateX(-45%) !important;
      }
      .vancouver {
        width: 800px;
        position: absolute;
        bottom: -12%;
        max-width: none;
      }
    }
  }
}
